.remover{
  cursor: pointer;
  color: red;
  
}

.titleText{
  font-size: xx-large;
}

button{
  margin-left: 1.1rem;
}

.body{
  color: black;
  background-image: url(https://images.unsplash.com/photo-1508287459906-37445322fdf6?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
 background-size: cover;
background-position: center;
background-attachment: fixed;
background-repeat: no-repeat;
    text-shadow: -1px -1px 0px white, 1px -1px 0px white, -1px 1px 0px white, 1px 1px 0px white;

}

.trashcan{
  position: absolute;
  color: red;
  margin-top: .75rem;
  margin-left: .25rem;
    text-shadow: -1px -1px 0px black, 1px -1px 0px black, -1px 1px 0px black, 1px 1px 0px black;
cursor: pointer;
}
#choreForm{
          position: absolute;
    bottom: 0.5rem;
    
}

.box{
  background-color: rgba(255, 255, 255, .7);
  color: black;
    text-shadow: -1px -1px 0px white, 1px -1px 0px white, -1px 1px 0px white, 1px 1px 0px white;

  padding-bottom: 2.5rem ;
}

.textBox{
  margin-left: 20vw;
  margin-right: 20vw;
}
.smallText{
  color: black;
    text-shadow: -1px -1px 0px white, 1px -1px 0px white, -1px 1px 0px white, 1px 1px 0px white;
padding-bottom: .3rem;
}